node_modules
.tmux.conf.local

# vim
.vim/.netrwhist
.vim/swaps/*
.vim/bundle/*
.vim/sessions/*
!.vim/bundle/neobundle.vim
.vim/colors/base16*

# sublime text
.sublime-user/*.cache
.sublime-user/Package\ Control.last-run
.sublime-user/Package\ Control.ca-list
.sublime-user/Package\ Control.ca-bundle
.sublime-user/Package\ Control.system-ca-bundle
.sublime-user/Package\ Control.cache/
.sublime-user/Package\ Control.ca-certs/

# atom
.atom/.gitignore
.atom/compile-cache
.atom/packages
.atom/storage
.atom/.apm

# TODO don't ignore all of alfred
# alfred
.alfred/*

# .config
.config/configstore/update-notifier-bower.yml
.config/configstore/insight-bower.json
.config/ranger/bookmarks
