# vim
.vim/.netrwhist
.vim/swaps/*
.vim/bundle/*
!.vim/bundle/Vundle.vim

# sublime text
.sublime-user/*.cache
.sublime-user/Package\ Control.last-run
.sublime-user/Package\ Control.ca-list
.sublime-user/Package\ Control.ca-bundle
.sublime-user/Package\ Control.system-ca-bundle
.sublime-user/Package\ Control.cache/
.sublime-user/Package\ Control.ca-certs/
