[submodule ".src/solarized"]
	path = .src/solarized
	url = https://github.com/altercation/solarized.git
[submodule ".src/terminal-piperita"]
	path = .src/terminal-piperita
	url = https://github.com/jacobtomlinson/terminal-piperita.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule ".src/reslate"]
	path = .src/reslate
	url = https://github.com/lunixbochs/reslate.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
