node_modules
.tmux.conf.local
.npm-debug.log
.npmrc

.zprofile-private

# vim
.vim/.netrwhist
.vim/swaps/*
.vim/bundle/*
!.vim/bundle/neobundle.vim
.vim/sessions/*
.vim/colors/base16*

# sublime text
.sublime-user/*.cache
.sublime-user/Package\ Control.last-run
.sublime-user/Package\ Control.ca-list
.sublime-user/Package\ Control.ca-bundle
.sublime-user/Package\ Control.system-ca-bundle
.sublime-user/Package\ Control.cache/
.sublime-user/Package\ Control.ca-certs/

# atom
.atom
!.atom/*.cson

# .config
.config/configstore
.config/ranger
.config/NzbDrone
.config/yarn
.config/.mono

# .karabiner.d
.karabiner.d/*
!.karabiner.d/configuration/karabiner.json
