"*":
  "atom-beautify":
    _analyticsUserId: "4a1fa342-04dc-4b51-8a8f-2fee76e1bf48"
  "autocomplete-plus": {}
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "markdown-format"
    ]
    projectHome: "/Users/rjhilgefort/Projects"
    themes: [
      "atom-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
  docblockr:
    auto_add_method_tag: true
    extra_tags: [
      "@since v${1:0.0.0}"
    ]
    extra_tags_go_after: true
    indentation_spaces_same_para: 4
  editor:
    fontFamily: "Source Code Pro for Powerline"
    invisibles: {}
    showInvisibles: true
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "d51e27c2-19ee-e044-dcfe-6cc5174383b7"
  "git-blame":
    customCommitUrlTemplateString: "https://git.zipscene.com/<%- project %>/<%- repo %>/commit/<%- revision %>"
    useCustomUrlTemplateIfStandardRemotesFail: true
  "highlight-column":
    enableHighlight: false
    opacity: 0.15
  jsformat: "format_on_save"
  linter: {}
  metrics:
    userId: "f725ce6db1cf0f7a124a271653f2250f407f4822"
  welcome:
    showOnStartup: false
"exception-reporting":
  userId: "b6e8a666-89a5-18ea-7d0b-751d8dda5641"
metrics:
  userId: "f2ee9de1e7e3cdb38936debc30fe190d20261d88"
welcome:
  showOnStartup: false
